.productCard img {
    height: 5000px;

}

.card {
    background-color: antiquewhite;
}

.productimage {

    height: 350px;
    width: 100%
}

.productCardlist {
    height: 630px;
    display: block;
}