.recipeImageDetails {

    width: 300px;
    float: left;

}

.textonrecipe {

    justify-content: center;
    align-items: center;
}

.list {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
    margin-left: 100px;
}

.imageRecipe {

    height: 100px;
    object-fit: contain;

}