.productimagedetails {
    height: 550px;
    width: 500px;
    display: flex;
    align-items: center;

}

.textonrecipe {

    justify-content: center;
    align-items: center;
}

.list {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
    margin-left: 100px;
}

.singleProductCard {
    width: 1150px;
    height: 1050px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}