footer {
    background-color: #87B594;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 20px;
    left: 0;
    font-size: .9em;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.ul,
.li {
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

.fb {
    width: 30px;
    gap: 20px;
    justify-content: space-between;
}

.fotos {
    justify-content: space-between;
}

ul {
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-bottom: 0;
    gap: 20px
}